/* ==========================================================================
#
# ////////////////////////////// NORMALIZE //////////////////////////////////
#
========================================================================== */
/* ==========================================================================
	!  FOUNDATION 6 NORMALIZE
	========================================================================== */

	// These styles are applied to a <meta> tag, which is read by the Foundation JavaScript
	.foundation-mq {
		font-family: '#{-zf-bp-serialize($breakpoints)}';
	}

	html {
		font-size: $global-font-size;
		box-sizing: border-box;
		font-family: sans-serif;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
	}

	// Set box-sizing globally to handle padding and border widths
	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	// Default body styles
	body {
		padding: 0;
		margin: 0;
		font-family: $body-font-family;
		font-weight: $global-weight-normal;
		line-height: $global-lineheight;
		color: $body-font-color;
		background: $body-background;

		@if ($body-antialiased) {
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}




/* ==========================================================================
	!  HTML5 NORMALIZE.CSS 
	========================================================================== */
	// normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css

	//Add the correct display in IE 9-.
	article,
	aside,
	footer,
	header,
	hgroup,
	details
	nav,
	section,
	menu,
	figcaption,
	figure,
	main {
		display: block;
	}

	//Add the correct margin in IE 8.
	figure {
		margin: 1rem $global-margin;
	}

	//Add the correct display in all browsers.
	summary {
		display: list-item;
	}

	// Add the correct box sizing in Firefox. Show the overflow in Edge and IE.
	hr {
		box-sizing: content-box;
		height: 0;
		overflow: visible;
	}


	/* Links
	========================================================================== */

	//Remove the gray background on active links in IE 10. Remove gaps in links underline in iOS 8+ and Safari 8+. Remove the outline on focused links when they are also active or hovered (opinionated)
	a {
		background-color: transparent;
		-webkit-text-decoration-skip: objects;
		a:active,
		a:hover {
			outline-width: 0;
		}
	}
	

	/* Text Semantics
	========================================================================== */
	
	//Correct the inheritance and scaling of font size in all browsers. Correct the odd `em` font sizing in all browsers.
	pre {
		font-family: monospace, monospace;
		font-size: 1em;
	}

	//Remove the bottom border in Chrome 57- and Firefox 39-. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
	abbr[title] {
		border-bottom: none;
		text-decoration: underline;
		text-decoration: underline dotted;
	}

	//Prevent the duplicate application of `bolder` by the next rule in Safari 6.
	b, strong {
		font-weight: inherit;
	}

	//Add the correct font weight in Chrome, Edge, and Safari.
	b, strong {
		font-weight: bolder;
	}

	//Correct the inheritance and scaling of font size in all browsers. Correct the odd `em` font sizing in all browsers.
	code,
	kbd,
	samp {
		font-family: monospace, monospace;
		font-size: 1em;
	}

	//Add the correct font style in Android 4.3-.
	dfn {
		font-style: italic;
	}

	//Add the correct background and color in IE 9-.
	mark {
		background-color: #ff0;
		color: #000;
	}

	//Add the correct font size in all browsers.
	small {
		font-size: 80%;
	}

	//Prevent `sub` and `sup` elements from affecting the line height in all browsers.
	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sub {
		bottom: -0.25em;
	}

	sup {
		top: -0.5em;
	}


	/* Embedded Media
	========================================================================== */

	//Add the correct display in IE 9-.
	audio,
	video {
		display: inline-block;
	}

	// Add the correct display in iOS 4-7.
	audio:not([controls]) {
		display: none;
		height: 0;
	}

	img {
		// Grid defaults to get images and embeds to work properly
		max-width: 100%;
		height: auto;
		-ms-interpolation-mode: bicubic;
		border-style: none; //Remove the border on images inside links in IE 10-.

		// Get rid of gap under images by making them display: inline-block; by default
		display: inline-block;
		vertical-align: middle;
	}
	
	//Hide the overflow in IE.
	svg:not(:root) {
		overflow: hidden;
	}


	/* Forms
	========================================================================== */
	//Change the font styles in all browsers (opinionated). Remove the margin in Firefox and Safari.
	button,
	input,
	optgroup,
	select,
	textarea {
		font-family: $body-font-family;
		font-size: 100%;
		line-height: $global-lineheight;
		margin: 0;
	}

	//Show the overflow in IE. Show the overflow in Edge.
	button,
	input {
		overflow: visible;
	}

	//Remove the inheritance of text transform in Edge, Firefox, and IE. Remove the inheritance of text transform in Firefox.
	button,
	select {
		text-transform: none;
	}

	//Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4. Correct the inability to style clickable types in iOS and Safari.
	button,
	html [type="button"],
	[type="reset"],
	[type="submit"] {
		-webkit-appearance: button;
	}

	button,
	[type="button"],
	[type="reset"],
	[type="submit"] {
		//Remove the inner border and padding in Firefox.
		&::-moz-focus-inner {
			border-style: none;
			padding: 0;
		}
		//Restore the focus styles unset by the previous rule.
		&:-moz-focusring {
			outline: 1px dotted ButtonText;
		}
	}

	// Reset <button> styles created by most browsers
	button {
		@include disable-mouse-outline;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: transparent;
		padding: 0;
		border: 0;
		border-radius: $global-radius;
		line-height: 1;
	}

	// Make select elements are 100% width by default
	select {
		width: 100%;
		border-radius: $global-radius;
	}

	//Show the overflow in Edge.
	input {
		overflow: visible;
	}

	//Add the correct box sizing in IE 10-. Remove the padding in IE 10-.
	[type="checkbox"],
	[type="radio"] {
		box-sizing: border-box;
		padding: 0;
	}

	//Correct the cursor style of increment and decrement buttons in Chrome.
	[type="number"]::-webkit-inner-spin-button,
	[type="number"]::-webkit-outer-spin-button {
		height: auto;
	}

	//Correct the odd appearance in Chrome and Safari. Correct the outline style in Safari.
	[type="search"] {
		-webkit-appearance: textfield;
		outline-offset: -2px;
		// Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration {
			-webkit-appearance: none;
		}
	}

	//Correct the inability to style clickable types in iOS and Safari. Change font properties to `inherit` in Safari.
	::-webkit-file-upload-button {
		-webkit-appearance: button;
		font: inherit;
	}

	//Correct the padding in Firefox.
	fieldset {
		padding: 0.35em 0.625em 0.75em;
	}

	//Correct the text wrapping in Edge and IE. Correct the color inheritance from `fieldset` elements in IE. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
	legend {
		box-sizing: border-box;
		color: inherit; 
		max-width: 100%;
		padding: 0;
		white-space: normal;
	}

	//Add the correct display in IE 9-. Add the correct vertical alignment in Chrome, Firefox, and Opera.
	progress {
		display: inline-block;
		vertical-align: baseline;
	}

	// Make sure textarea takes on height automatically Remove the default vertical scrollbar in IE.
	textarea {
		height: auto;
		min-height: 50px;
		border-radius: $global-radius;
		overflow: auto;
	}
	

	/* Scripting
	========================================================================== */
	
	//Add the correct display in IE 9-.
	canvas {
		display: inline-block;
	}

	//Add the correct display in IE.
	template {
		display: none;
	}

	// Styles Google Maps and MapQuest embeds properly
	// scss-lint:disable IdSelector
	#map_canvas,
	.map_canvas,
	.mqa-display {
		img,
		embed,
		object {
			max-width: none !important;
		}
	}


	/* Hidden
	========================================================================== */

	// Internal classes to show/hide elements in JavaScript
	.is-visible {
		display: block !important;
	}

	.is-hidden {
		display: none !important;
	}

	//Add the correct display in IE 10-.
	[hidden] {
		display: none;
	}

