/* ==========================================================================
#
# ////////////////////////// STYLE GUIDE STRUCTURE ///////////////////////////
#
========================================================================== */

/*-------------------------------------------
		Table of Contents:

        -------General--------
        1. Colors
        2. General HTML

        ------Prism Code------
        1. Pre / Code
        2. Token
        3. Line Highlight

        ------SG Frame------
        1. General Classes
        2. Layout

        -----SG Section-------
        1. Layout
        2. Styled Elements

        --SG Template Guide--
        1. View Page

        --Custom Scrollbar--
        1. Custom Scrollbar   


-------------------------------------------*/


/* ==========================================================================
# ////////////////////////////// GENERAL /////////////////////////////////
========================================================================== */

/* ==========================================================================
	1.  COLORS 
	========================================================================== */	
	/* -----------------------------------------------------------------------------

        I use this to dynamically add the colors in BASE > COLORS. There is 
        Javascript at the bottom of the styleguide.php that adds the hexdecimal 
        number to the page.

	------------------------------------------------------------------------------ */

    .white-color-bkg {background-color: $white;}
    .ghost-color-bkg {background-color: $ghost;}
    .snow-color-bkg {background-color: $snow;}
    .vapor-color-bkg {background-color: $vapor;}
    .whitesmoke-color-bkg {background-color: $whitesmoke;}
    .silver-color-bkg {background-color: $silver;}
    .smoke-color-bkg {background-color: $smoke;}
    .gainsboro-color-bkg {background-color: $gainsboro;}
    .iron-color-bkg {background-color: $iron;}
    .base-color-bkg {background-color: $base;}
    .aluminum-color-bkg {background-color: $aluminum;}
    .jumbo-color-bkg {background-color: $jumbo;}
    .monsoon-color-bkg {background-color: $monsoon;}
    .steel-color-bkg {background-color: $steel;}
    .charcoal-color-bkg {background-color: $charcoal;}
    .tuatara-color-bkg {background-color: $tuatara;}
    .oil-color-bkg {background-color: $oil;}
    .jet-color-bkg {background-color: $jet;}
    .black-color-bkg {background-color: $black;}


    // Accent Colors
    .primary-color-bkg{background-color: $primary-color;}
    .secondary-color-bkg{background-color: $secondary-color;}  
    .link-color-bkg{background-color: $link-color;}     
    .alert-color-bkg{background-color: $alert-color;}  
    .success-color-bkg{background-color: $success-color;}  
    .warning-color-bkg{background-color: $warning-color;}  
    .info-color-bkg{background-color: $info-color;}     


/* ==========================================================================
	2.  HTML ELEMENTS 
	========================================================================== */	

    body {margin:0;color:$oil;background-color:$white;}

    html, 
    body {height:100%;font-size:100%;}

    *,
    *:before,
    *:after {box-sizing: border-box; }

    main {height:100%;}





/* ==========================================================================
# ////////////////////////////// PRISM CODE /////////////////////////////////
========================================================================== */
// This code controls the look and layout of the code dropdown for each section.
// It looks like there is a way to add line-numbers. However, I am not sure
// how to make it work.. **TODO**


/* ==========================================================================
	1.  PRE / CODE 
	========================================================================== */	

    code[class*="language-"],
    pre[class*="language-"] {color:black;text-shadow:0 1px #fff;font-family: Consolas, Monaco, 'Andale Mono', monospace;direction: ltr;text-align: left;white-space: pre;word-spacing:normal;word-break:normal;line-height:1.5;tab-size:4;hyphens:none}

    pre[class*="language-"]::selection,
    code[class*="language-"]::selection {text-shadow:none;background: #b3d4fc}

    pre[class*="language-"] {position:relative;padding:1em;margin:0.5em 0 2em;overflow:auto;
        & > code[data-language] {overflow:auto;max-height:28em;display:block;
            
            &::before{content:attr(data-language);color:black;background-color: #CFCFCF;display:inline-block;position:absolute;top:0;right:0;font-size:0.9em;border-radius:0 0 0 5px;padding:0 0.5em;text-shadow:none;

            }
        }
    }

    // LINE NUBMERS -- (Not Working...)
    pre[data-line] {position:relative;padding:1em 0 1em 3em}

    pre.line-numbers {position:relative;padding-left:3.8em;counter-reset:linenumber;
        & > code {position:relative;}

    }

    // NOT
    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {background: #f5f2f0}

    :not(pre) > code[class*="language-"] {padding: .1em;border-radius: .3em}


    // PRINT
    @media print {
        code[class*="language-"],
        pre[class*="language-"] {text-shadow: none}
    }

/* ==========================================================================
	2.  TOKEN
	========================================================================== */
    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {color: slategray;}

    .token.punctuation {color:#999}

    .namespace {opacity: 0.7;}

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {color: #905;}

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {color: #690;}

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {color: #a67f59;background: rgba(255, 255, 255, 0.5);}

    .token.atrule,
    .token.attr-value,
    .token.keyword {color: #07a;}

    .token.function {color: #DD4A68;}

    .token.regex,
    .token.important,
    .token.variable {color: #e90;}

    .token.important {font-weight: bold;}

    .token.entity {cursor: help;}


/* ==========================================================================
	3.  LINE HIGHLIGHT
	========================================================================== */

    .line-highlight {position:absolute;left:0;right:0;padding:inherit 0;margin-top: 1em;background: rgba(153, 122, 102, 0.08);background: linear-gradient(to left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));pointer-events: none;line-height: inherit;white-space: pre;
        &:before, &[data-end]:after{ content: attr(data-start);position: absolute;top:.4em;left:.6em;min-width:1em;padding:0 0.5em;background-color:rgba(153, 122, 102, 0.4);color:#f5f2f0;font: bold 65%/1.5 sans-serif;text-align:center;vertical-align:.3em;border-radius:999px;text-shadow:none;box-shadow:0 1px #fff}
        &[data-end]:after {  content: attr(data-end);top: auto;bottom: .4em;}

    }

    .line-numbers{
        .line-numbers-rows {position: absolute;pointer-events: none;top: 0;font-size: 100%;left: -3.8em;width: 3em;letter-spacing: -1px;border-right: 1px solid #999;user-select: none;
        & > span {pointer-events: none;display: block;counter-increment: linenumber;
                &:before{ content: counter(linenumber);color:#999;display:block;padding-right:0.8em;text-align:right;}

        }
        }
    }




/* ==========================================================================
# ////////////////////////////// SG FRAME  /////////////////////////////////
========================================================================== */
// The frame covers all of the styles surrounding the iframe.

/* ==========================================================================
	1.  GENERAL CLASSES
	========================================================================== */

// Floats
.left {float: left !important; }
.right {float: right !important; }

// Clearfix
.clearfix:before,
.clearfix:after {content: " ";display: table;}
.clearfix:after {clear:both; }


/* ==========================================================================
	2.  LAYOUT
	========================================================================== */

    // Unstyled List -- Used for Menu & Break Points
    .sg-list--unstyled {list-style-type:none;margin:0;padding:0;position:static;}
    .sg-list--float li {float: left;}

    // Side Navigation
    .sg-group{margin-bottom:1em;
        .title{margin-left:26px;font-family: $sans-serif-condensed, sans-serif;text-decoration:none;border-bottom:solid 1px $gainsboro;margin-right: 26px;display:block;font-size:1em;text-transform:uppercase;letter-spacing:1px;font-size:0.9em;color:$oil;
            &:visited{color:$oil;}
            &:hover, &:active{color:$secondary-color;}
            &.active{cursor:default;color:$oil;font-weight:bold;
                &:before{content:'*';color:$secondary-color;}
            }
        }

        ol, ul {list-style: none;margin: 0 0 2em 0;padding:0;}
    }

    // Header
    .sg-header {display: block;background: $white;border-bottom: 1px solid $smoke;width: 100%;padding: 17px 30px 21px 80px;position: fixed;height: 63px;top: 0;left: 0;z-index: 2;transform: translate3d(0, 0, 0);transition: all 0.2s cubic-bezier(0.37, 0.62, 0.47, 0.72);font-size: 14px;color: $steel;
        .sg-header__welcome, .sg-header__breakpoints__item__link {font-family: $sans-serif;}

    }
        // Breakpoints
        .sg-header__breakpoints {position: relative;top:-9px;
            ul {display: none;

                // Custom Media 
                @media only screen and (min-width:64.063em) {display: block;}
            }
        }

        // Breakpoints Item Links
        .sg-header__breakpoints__item__link {position:relative;display:block;padding:0;color: $charcoal;text-decoration: none;font-size:13px;margin-right:20px;cursor:pointer;
            &:hover, &.active{color: $black;
                &:before{opacity:1;}
            }

            span{position:relative;top:-4px;}

            // Sizes
            &#small:before {content: '';width: 17px;background-image: url("/lib/img/styleguide/icon_small_up.svg");}
            &#medium:before {content: '';width:26px;background-image: url("/lib/img/styleguide/icon_medium_up.svg");}
            &#large:before {content: '';width: 53px;background-image: url("/lib/img/styleguide/icon_large_up.svg");}
            &#full:before {content: '';width: 51px;background-image: url("/lib/img/styleguide/icon_full.svg");}
            &:before{content: '';opacity:0.5;display:inline-block;height:40px;background:center bottom no-repeat;margin-right:10px;cursor:pointer;}

        }
    
        // Header Opened
        body.opened .sg-header {left:240px;width:calc(100% - 240px);padding:17px 30px 21px;}



    // Sidebar -- Toggle IN
    .sg-sidebar__toggle--in {overflow:hidden;cursor:pointer;text-align:center;right:0;height:35px;z-index: 10;width:45px;position:fixed;padding:0;background:none;left:187px;top:15px;
        a {display:inline-block;float:none;text-indent:-99999px;position:relative;width:15px;height:2px;background:$white;clear:both;margin:0 auto;margin-top:16px;
            &:before, &:after {display:block;float:left;clear:both;content:"";position:absolute;width:100%;height:2px;left:0;background: $monsoon;transform: rotate(45deg);top:0;}
            &:after {bottom:-4px;transform:rotate(-45deg);}
        }
    }

    // Sidebar -- Toggle OUT
    .sg-sidebar__toggle--out {margin:0;overflow:hidden;cursor:pointer;text-align: center;height:63px;width:63px;background-color: $secondary-color;padding:20px 0 10px 0;z-index:10;position:absolute;
        &:hover{
            a:before{top:-8px;}
            a:after {bottom:-8px;}
        }

        a{display:inline-block;float:none;text-indent:-99999px;position:relative;width:23px;height:2px;background: $white;clear:both;margin:0 auto;margin-top:10px;transition:all 0.15s ease-out;
            &:before, &:after{display:block;float:left;clear:both;content:"";position:absolute;width:100%;height:2px;left: 0;background: $white;transition: all 0.15s ease-out;}
            &:before{top: -4px;}
            &:after{bottom: -4px;}
        }


    }


    // Content
    .sg-sidebar__content {z-index: 1;position: fixed;background-color: $white;border-right: 1px solid $silver;transition: transform 0.2s cubic-bezier(0.37, 0.62, 0.47, 0.72);transform: translateX(-240px);height: 100%;width: 240px;z-index: 11;overflow:auto;
        .sg-logo{max-width:100px;display:block;margin:0 auto;padding:1em 0 0 0;}
    }

        // Content Opened
        body.opened .sg-sidebar__content {position: fixed;transform: translateX(0px);}


    // Navigation
    .sg-sidebar__nav {margin-top:30px;
        .sg-sidebar__nav__item__link, .sg-sidebar__nav__item__href, .sg-single-item .title {display:block;padding: 8px 16px 8px 26px;color: $monsoon;font-family: $sans-serif;letter-spacing: -1px;font-weight: normal;text-decoration: none;-webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility;line-height:1.2;border-left:0 solid $secondary-color;outline:none;transition:all 0.4s ease;font-size:0.9em;
            &:hover, &.active{ color:$secondary-color;transition: all 0.4s ease;border-left: 6px solid $secondary-color;}
        }
    }




/* ==========================================================================
# ////////////////////////////// SG SECTIONS  ///////////////////////////////
========================================================================== */
// The sections covers all of the styles within the layout of the different
// modules.

/* ==========================================================================
	1.  LAYOUT
	========================================================================== */

    body.opened{overflow:hidden;

    }
    body.opened .sg-iframe-wrapper {left:240px;width:calc(100% - 240px);max-width:calc(100% - 240px);
            // Custom Media 
            @media only screen and (max-width:1220px) {width:100%;max-width:100%;min-width:100%;-webkit-overflow-scrolling: touch;overflow-y: scroll;}
    }

    .sg-iframe-wrapper {overflow:hidden;height:100%;width:100%;max-width:100%;position:relative;left:0;padding:0;margin:0;transform:translate3d(0, 0, 0);transition:left 0.2s cubic-bezier(0.37, 0.62, 0.47, 0.72), width 0.2s cubic-bezier(0.37, 0.62, 0.47, 0.72);background-color:$silver;  
        // Custom Media 
        @media only screen and (max-width:1025px) {width:1px;min-width:100%;-webkit-overflow-scrolling: touch;}

        iframe {border:0;overflow:hidden;height: calc(100% - 63px)!important;width:100%;max-width:100%;position:absolute;top:63px;left:0;right:0;bottom:0;transition: width 0.2s ease-in-out;margin: 0 auto;}
    }

    .sg-iframe-content {max-width:100%;margin:0 auto;padding:15px 0 0;background-color:$white;}

    .sg-module {padding: 50px 0;}

    .sg-module__toggle-code {display:block;text-indent:-9999999px;background: url("/lib/img/styleguide/icon_code.svg") right center no-repeat;height:1.5em;opacity:0.5;margin-bottom: 15px;position:relative;z-index:9;float:right;min-width:30px;}



/* ==========================================================================
	2.  STYLED ELEMENTS
    ========================================================================== */
    
    // Main Title
    .sg-main-title{position:relative;text-transform:uppercase;padding-left:5%;margin-top:5em;
        &:after{background:$gainsboro;content: '';height:30px;position:absolute;width:100%;top:50%;left:0;transform:translateY(-50%);margin-left:5px;}
        &.no-margin-top{margin-top:0;}
        span{display:inline-block;background:white;position:relative;z-index:1;padding:0px 10px;}
    }

    // Section Title Heading
    .section_title h4{font-family:$sans-serif-condensed;text-transform:uppercase;font-size:1em;letter-spacing:3px;border-bottom:solid 1px;color:$oil;font-weight:900;margin-top:2rem;}
    
    // Pattern Heading
    .sg_pattern_heading {font-size: 0.8em;border-bottom: 1px solid $gainsboro;padding-bottom: 0.3em;margin-top:20px;
    &.WIP {color:red;}
    }

    // Colors
    .sg_colors {@include clearfix;margin: 0;
    li {border: 1px solid $gainsboro;padding: 0.3em;text-align:center;list-style:none;float:left;width:8em;margin:0 0.75em 1em 0;
        span {display: block;width: 100%;height: 5.5em;margin: 0 auto 0.2em auto;}
        p {font-size: .8em;color: #666;text-align: center;margin-bottom: 0;}
        em{font-style:normal;}
        kbd {font-size: .9em;}
    }
    }

    // Row
    .row.display {background: rgba($gainsboro,.2);font-size: 11px;margin-bottom: 10px;line-height: 2rem;border: solid 1px $gainsboro;margin-left: 0 !important;margin-right: 0 !important;
    .columns:nth-child(2), .columns.small-centered, .columns.medium-centered {background: rgba($gainsboro,0.4);}
    }

    // Icons
    .sg_icons {
        .column{margin-bottom:1em;}
    i {font-size: 1.75em;display: inline-block;vertical-align: middle;}
    }

    // Snippet (Code View)
    .snippet{margin-top:2em;}


/* ==========================================================================
# ///////////////////////// SG TEMPLATE GUIDE  //////////////////////////////
========================================================================== */
// The sections is specificly used for the template guide part of the SG

/* ==========================================================================
	1.  VIEW PAGE
    ========================================================================== */

    .sg-single-item .title:after{content:'\f08e';font-family:$icon;padding-left:5px;position:relative;top:2px;}

    .sg-view__page__btn{position:absolute;right:50px;top:100px;z-index:100;font-family: $sans-serif;background:$secondary-color;font-size:9px;font-weight:bold;color:$white;border-radius:100%;text-transform:uppercase;text-decoration:none;width:50px;height:50px;padding: 1em;display:block;text-align:center;
        &:before{font-family:$icon;content:"\f002";display:block;text-align:center;font-size:2em;margin-bottom:3px;z-index:3;}
        &:after{content:'';border: 5px solid $secondary-color;border-radius:30px;height:60px;width:60px;position:absolute;left:-5px;top:-5px;animation: pulsate 5s ease-out;animation-iteration-count: infinite; opacity: 0.0;z-index:-1;}
    }



    @keyframes pulsate {
        0% {
        transform:scale(0.1, 0.1); opacity: 0.0;
        }
        10% {
            opacity: 1.0;
        }
        20% {
            transform: scale(1.2, 1.2); opacity: 0.0;
        }
    }


/* ==========================================================================
# ////////////////////// SG SIDBAR CUSTOM SCROLLBAR  ////////////////////////
========================================================================== */
// The sections is specificly used for the template guide part of the SG
/* ==========================================================================
	1.  SIDEBAR
    ========================================================================== */

    .sg-sidebar__content.mCustomScrollbar{

        .mCSB_scrollTools{width:10px;border-left:none;border-right:solid 1px $smoke;}
        .mCSB_inside > .mCSB_container{margin-right:13px;}
        .mCSB_dragger{background:$gainsboro;width:7px;}
        //.mCSB_scrollTools_vertical{background:}

        .sg-list--unstyled{margin-bottom:3em;}

    }

