// Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

  .sticky-container {
    position: relative;
  }

  .sticky {
    position: absolute;
    z-index: 0;
    transform: translate3d(0, 0, 0);
  }

  .sticky.is-stuck {
    position: fixed;
    z-index: 5;

    &.is-at-top {
      top: 0;
    }

    &.is-at-bottom {
      bottom: 0;
    }
  }

  .sticky.is-anchored {
    position: absolute;
    left: auto;
    right: auto;

    &.is-at-bottom {
      bottom: 0;
    }
  }

