// Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

// scss-lint:disable MergeableSelector, QualifyingElement

////
/// @group table
////

$table-background: $white  !default;
$table-color-scale: 5% !default;
$table-border: 1px solid smart-scale($table-background, $table-color-scale) !default;
$table-padding: rem-calc(8 10 10) !default;
$table-hover-scale: 2% !default;
$table-row-hover: darken($table-background, $table-hover-scale) !default;
$table-row-stripe-hover: darken($table-background, $table-color-scale + $table-hover-scale) !default;
$table-striped-background: smart-scale($table-background, $table-color-scale) !default;
$table-stripe: even !default;
$table-head-background: smart-scale($table-background, $table-color-scale / 2) !default;
$table-foot-background: smart-scale($table-background, $table-color-scale) !default;
$table-head-font-color: $body-font-color !default;
$show-header-for-stacked: false !default;

@mixin -zf-table-children-styles($stripe: $table-stripe) {
  thead,
  tbody,
  tfoot {
    border: $table-border;
    background-color: $table-background;
  }

  // Caption
  caption {
    font-weight: $global-weight-bold;
    padding: $table-padding;
  }

  // Table head and foot
  thead,
  tfoot {
    background: $table-head-background;
    color: $table-head-font-color;

    // Rows within head and foot
    tr {
      background: transparent;
    }

    // Cells within head and foot
    th,
    td {
      padding: $table-padding;
      font-weight: $global-weight-bold;
      text-align: left;
    }
  }

  // Table rows
  tbody {
    tr {
      // If stripe is set to even, darken the even rows.
      @if $stripe == even {
        &:nth-child(even) {
          background-color: $table-striped-background;
        }
      }

      // If stripe is set to odd, darken the odd rows.
      @else if $stripe == odd {
        &:nth-child(odd) {
          background-color: $table-striped-background;
        }
      }
    }

    th,
    td {
      padding: $table-padding;
    }
  }
}

/// Adds the general styles for tables.
/// @param {Keyword} $stripe [$table-stripe] - Uses keywords even, odd, or none to darken rows of the table. The default value is even.
@mixin table(
  $stripe: $table-stripe,
  $nest: false
) {
  width: 100%;
  margin-bottom: $global-margin;
  border-radius: $global-radius;

  @if $nest {
    @include -zf-table-children-styles($stripe);
  }
  @else {
    @at-root {
      @include -zf-table-children-styles($stripe);
    }
  }
}

/// Adds the ability to horizontally scroll the table when the content overflows horizontally.
@mixin table-scroll {
  display: block;
  width: 100%;
  overflow-x: auto;
}

/// Slightly darkens the table rows on hover.
@mixin table-hover {
  tr {
    //Darkens the non-striped table rows on hover.
    &:hover {
      background-color: $table-row-hover;
    }

    //Darkens the even striped table rows.
    @if($table-stripe == even) {
      &:nth-of-type(even):hover {
        background-color: $table-row-stripe-hover;
      }
    }

    //Darkens the odd striped table rows.
    @elseif($table-stripe == odd) {
      &:nth-of-type(odd):hover {
        background-color: $table-row-stripe-hover;
      }
    }
  }
}

/// Adds styles for a stacked table. Useful for small-screen layouts.
/// @param {Boolean} $header [$show-header-for-stacked] - Show the first th of header when stacked.
@mixin table-stack($header: $show-header-for-stacked) {
  @if $header {
    thead {
      th:first-child {
        display: block;
      }

      th {
        display: none;
      }
    }
  }
  @else {
    thead {
      display: none;
    }
  }

  tfoot {
    display: none;
  }

  tr,
  th,
  td {
    display: block;
  }

  td {
    border-top: 0;
  }
}


  table {
    @include table();
  }

  table.stack {
    @include breakpoint(medium down) {
      @include table-stack;
    }
  }

  table.scroll {
    @include table-scroll;
  }

  table.hover {
    @include table-hover;
  }

  .table-scroll {
    overflow-x: auto;

    table {
      width: auto;
    }
  }

